@charset "utf-8";

.settings-form {
    position: relative;
}

.settings-save-btn {
    position: absolute;
}

.settings-save-btn:hover {
    background-color: var(--black);
    color: var(--truewhite);
    cursor: pointer;
}

.personal-settings-save-btn {
    bottom: -93px;
}

.user-settings-save-btn {
    margin-top: 25px;
    margin-bottom: 90px;
}

.delete {
    display: flex;
    height: 40px;
    text-decoration: none;

    border-radius: 10px;
    border: 1px solid var(--red);
    background-color: var(--snowwhite);
    opacity: 0.8;
    color: var(--black);
    font-size: 16px;
    font-weight: 200;
    font-family: "Nanum Myeongjo";
    width: 140px;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 120px 0px 40px auto;
    color: red;
    font-weight: 700;
    cursor: pointer;
}

.delete:hover {
    border-color: var(--snowwhite);
    color: var(--snowwhite);
    background-color: var(--red);
}

.line {
    margin-bottom: 0;
}

.form-rows {
    min-height: 550px;
}

#show-old-password,
#show-new-password,
#show-repeat-password {
    background: none;
    border: none;
    cursor: pointer;
}


.error {
    color: red;
    display: block;
    width: 300px;
    padding: auto;
    padding-top: 10px;
}

.second-title {
    margin-top: 29px;
}

.show {
    position: absolute;
    right: 10px;
    padding-top: 13px;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-end;
}