@charset "utf-8";

.settings-form {
    position: relative;
}

.settings-save-btn {
    position: absolute;
}
.settings-save-btn:hover {
    background-color: var(--black);
    color: var(--truewhite);
    cursor: pointer;
}

.personal-settings-save-btn {
    bottom: -108px;
}

.user-settings-save-btn {
    bottom: 0;
}

.line {
    margin-bottom: 0;
}

.form-rows {
    min-height: 550px;
}
#old-password-group, #new-password-group, #repeat-password-group{
    display: flex;
}
#show-old-password, #show-new-password, #show-repeat-password{
    background: none;
    border: none;
    cursor: pointer;
}


.error {
	color: red;
	display: block;
	width: 300px;
	padding: auto;
	padding-top: 10px;
}